.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 4rem;
}

.list-container {
  height: 550px;
  max-width: 320px;
}

.button-section {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.6rem 0;
  width: 100%;
  max-width: 320px;
}

.button-section button {
  padding: 0.4rem 0.9rem;
  border-radius: 4px;
  border: 1px solid #666;
}