.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
  gap: 0.2rem;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 0.4rem 0.2rem;
}

.card {
  display: inline-flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
  margin: 0.1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
}

.card-name {
  font-weight: 700;
}