.wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100%;
}
.list {
  height: 100%;
  width: 100%;

  & .list-message {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    font-size: 0.9rem;
    color: #555;
  }
}

//============Item Card==============
.card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
  margin: 0.2rem 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;

  & .edit-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    left: 0.4rem;
    background-color: #777;
    color: white;
    padding: 0.12rem;
    border-radius: 4px;
    opacity: 0.3;
  }
}

.card-name {
  font-weight: 700;
}

.delete-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  padding: 0.2rem;
  border-radius: 50%;
  color: crimson;
  opacity: 0.7;
  border: none;
}

//==============Pagination==============
.pagination {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  margin-top: 1rem;

  & .helper {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0 0.4rem;
    font-size: 0.95rem;
    color: #777;
  }

  & .buttons {
    display: inline-flex;
    gap: 0.2rem;

    & button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
  }
}
.pagination button.active {
  font-weight: bold;
  background: var(--primary-color);
  color: white;
}