:host {
  --darkGreen: #83C784;
  --lightGreen: #E6F4E7;
  //--darkGreen: #83C784;
  //--lightGreen: #83C784;
  //--darkGreen: #83C784;
  //--lightGreen: #83C784;
  //--darkGreen: #83C784;
  //--lightGreen: #83C784;
}

.snackbar {
  position: fixed;
  top: 2vh;
  right: 2vw;
  transform: translateY(-1rem);
  max-width: 320px;
  padding: 0.6rem 0.8rem;
  border-radius: 4px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  overflow: hidden;
}

// Animation State
.snackbar.show {
  opacity: 1;
  transform: translateY(0);
}

.sidebar {
  position: absolute;
  left: 0;
  height: 100%;
  width: 0.3rem;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.2rem;
  margin-right: 0.5rem;
  color: white;
}

.message {
  font-size: 0.8rem;
  line-height: 1.2;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

//===============Variants================
.success {
  background-color: var(--lightGreen);

  & .sidebar {
    background-color: var(--darkGreen);
  }
  & .icon-wrapper {
    background-color: var(--darkGreen);
  }
  & button {
    color: var(--darkGreen);
  }
}

.warning {
  background-color: yellow;
}

.error {
  background-color: #f44336;
}

.info {
  background-color: #2196f3;
}
