.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.list {
  height: 100%;
}

//============Item Card==============
.card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
  margin: 0.2rem 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
}

.card-name {
  font-weight: 700;
}

.icon-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  padding: 0.1rem;
  border-radius: 50%;
  color: #999;
}

//============Pagination Buttons=============
.pagination {
  display: inline-flex;
  justify-content: end;
  gap: 6px;
  margin-top: 1rem;
}

.pagination button.active {
  font-weight: bold;
  background: var(--primary-color);
  color: white;
}