:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
}

//================Form=================
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  width: 100%;

  & .form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 95%;
    max-width: 320px;

    & .form-input {
      width: 100%;
      padding: 1.5rem 1rem 0.5rem;
      height: 3.5rem;
      border-radius: 4px;
      font-size: 0.9rem;
      line-height: 1.5;
      border: none;
      outline: 1px solid #ccc;
      transition: background-color 0.2s, border-color 0.2s;
    }

    .form-label {
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
      font-size: 1rem;
      pointer-events: none;
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transform-origin: top left;
    }
  }
}

.form-input:focus~.form-label,
.form-input:not(:placeholder-shown)~.form-label,
.form-input.textarea:focus~.form-label,
.form-input.textarea:not(:placeholder-shown)~.form-label {
  top: 7px;
  transform: translateY(0) scale(0.75);
}

.form-input.textarea {
  resize: none;
  height: auto;
  min-height: 6rem;
}

.form-input.textarea~.form-label {
  top: 1.2rem;
}

//=============Button Section==============
.button-section {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.6rem 0;
  width: 100%;
  max-width: 320px;

  & button {
    padding: 0.4rem 1.8rem;
    border-radius: 4px;
    border: 1px solid #666;

    &.return {
      padding: 0.4rem 1.4rem;
    }
  }
}