:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
}

//================Form=================
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  & .form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.1rem;
    width: 95%;
    max-width: 320px;

    & .form-input {
      position: relative;
      width: 100%;
      padding: 1.4rem 1rem 0.5rem 1rem;
      height: 3rem;
      border-radius: 4px 4px 0 0;
      font-size: 0.9rem;
      line-height: 1.5;
      border: none;
      box-shadow: 0 2px 0 0 gray;
      outline: 1px solid #ccc;
      transition: background-color 0.2s, border-color 0.2s;

      &.textarea {
        resize: none;
        height: auto;
        min-height: 5rem;
      }

      &:focus~.form-label,
      &:not(:placeholder-shown)~.form-label {
        top: 0.85rem;
        transform: translateY(-50%);
        font-size: 0.8rem;
      }

      &.error {
        box-shadow: 1px 2px 0 0 crimson;
      }
    }

    & .form-label {
      position: absolute;
      top: 1.5rem;
      left: 0.9rem;
      transform: translateY(-50%);
      font-size: 1rem;
      pointer-events: none;
      color: #888;
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

      &.error {
        color: crimson;
      }
    }

    & .error-message {
      display: inline-flex;
      align-items: center;
      width: 100%;
      height: 1.5rem;
      font-size: 0.82rem;
      font-weight: 500;
      padding: 0 1rem;
      color: crimson;
      visibility: hidden;

      &.visible {
        visibility: visible;
      }
    }
  }
}

//=============Button Section==============
.button-section {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.6rem 0;
  width: 100%;
  max-width: 320px;

  & button {
    padding: 0.4rem 1.8rem;
    border-radius: 4px;
    border: 1px solid #999;

    &.return {
      padding: 0.4rem 1.4rem;
    }
  }
}
