//=================Font insertion=================
@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/open-sans-variable-font.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

//====================Global styles==================
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'OpenSans';
}

body {
  background-color: #f5f5f5;
  color: #333;
  cursor: default;
}

button {
  cursor: pointer;
}

//==============The Scrollbar=================
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}