//=================Font insertion=================
@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/open-sans-variable-font.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

//====================Global styles==================
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  font-family: 'OpenSans';
  background-color: #f5f5f5;
  color: #333;
  cursor: default;
}